@charset "UTF-8";
/* CSS Document */

/*
/// Highly Customizable Gradient Background
///
/// This background is created using a solid background color, and then four
/// radial gradient "spotlights". These spotlights are entirely defined with
/// custom properties, so they can be easily tweaked. For each spotlight,
/// you can change the color, width, height, and positioning.
///
/// Colors from https://reasonable.work/colors/
///
*/

:root {
  --gradient_bg_color: #006dca;
  --gradient_spot1_color: #001a39;
  --gradient_spot1_w: 75vw;
  --gradient_spot1_h: 75vh;
  --gradient_spot1_x: 0;
  --gradient_spot1_y: 0;
  --gradient_spot2_color: #9b70ff;
  --gradient_spot2_w: 75vw;
  --gradient_spot2_h: 75vh;
  --gradient_spot2_x: 100%;
  --gradient_spot2_y: 0;
  --gradient_spot3_color: #42ffc6;
  --gradient_spot3_w: 75vw;
  --gradient_spot3_h: 75vh;
  --gradient_spot3_x: 100%;
  --gradient_spot3_y: 100%;
  --gradient_spot4_color: #ff3b8d;
  --gradient_spot4_w: 75vw;
  --gradient_spot4_h: 75vh;
  --gradient_spot4_x: 0;
  --gradient_spot4_y: 100%;
}

.fancy-gradient {
  background-color: var(--gradient_bg_color);
  background-image: radial-gradient(
      var(--gradient_spot1_w) var(--gradient_spot1_h)
      at left var(--gradient_spot1_x) top var(--gradient_spot1_y),
      var(--gradient_spot1_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot2_w) var(--gradient_spot2_h)
      at left var(--gradient_spot2_x) top var(--gradient_spot2_y),
      var(--gradient_spot2_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot3_w) var(--gradient_spot3_h)
      at left var(--gradient_spot3_x) top var(--gradient_spot3_y),
      var(--gradient_spot3_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot4_w) var(--gradient_spot4_h)
      at left var(--gradient_spot4_x) top var(--gradient_spot4_y),
      var(--gradient_spot4_color),
      transparent
    );
}

.fancy-gradient--watermelon{
  --gradient_bg_color: #ff426c;
  --gradient_spot1_color: #82002c;
  --gradient_spot1_w: 80vw;
  --gradient_spot1_h: 30vh;
  --gradient_spot2_color: #82002c;
  --gradient_spot2_w: 80vw;
  --gradient_spot2_h: 30vh;
  --gradient_spot3_color: #009f78;
  --gradient_spot4_color: #009f78;
}

.fancy-gradient--style1{
	--gradient_bg_color:#040d21; 
	--gradient_spot1_color:#325096; 
	--gradient_spot2_color:#35569c; 
	--gradient_spot3_color:#325096; 
	--gradient_spot4_color:#00226b; 
	--gradient_spot4_y:100%; 
	--gradient_spot4_h:76%; 
	--gradient_spot1_h:61%; 
	--gradient_spot3_h:59%; 
	--gradient_spot3_w:33%; 
	--gradient_spot2_x:100%; 
	--gradient_spot2_h:52%; 
	--gradient_spot2_w:51%; 
	--gradient_spot1_w:63%;
}

.fancy-gradient--style2{
	--gradient_bg_color:#040d21; 
	--gradient_spot1_color:#391389; 
	--gradient_spot2_color:#4353ff; 
	--gradient_spot3_color:#c084f8; 
	--gradient_spot4_color:#00226b; 
	--gradient_spot4_y:100%; 
	--gradient_spot4_h:76%; 
	--gradient_spot1_h:61%; 
	--gradient_spot3_h:59%; 
	--gradient_spot3_w:33%; 
	--gradient_spot2_x:100%; 
	--gradient_spot2_h:52%; 
	--gradient_spot2_w:51%; 
	--gradient_spot1_w:63%;
}


